
<div class="row example-container">

	<div class="col-md-8 list-view-container">

		<div ng-switch="(cart.shoppingCartItemList.length > 0).toString()">
			<div ng-switch-when="true">
				<div pf-list-view items="items" config="config"
					action-buttons="actionButtons">

					<div class="list-view-pf-description">

							<div class="media">
							  <div class="media-left">
							      <img	class="media-object" ng-src="/app/imgs/{{item.product.name}}.jpg"
							      		alt="{{item.product.name}}">
							  </div>
							  <div class="media-body">

							    <h2 class="media-heading">{{item.product.name}}</h2>
							    <div class="p-t-8">
							    	<span class="label label-default">Quantity: {{item.quantity}}</span>
								</div>
								<div class="p-t-8">
									{{item.product.desc}}
								</div>
							  </div>
							</div>
					</div>
				</div>
			</div>
			<div ng-switch-when="false">
				<h1>You have not added any items to your Shopping Cart!</h1>
				<a ng-href="#/" class="btn btn-default btn-lg">Return to Store</a>
			</div>
		</div>
	</div>

	<div class="col-md-4 panel panel-primary">
		<div class="panel-heading">
			<h3 class="panel-title">Shopping Summary</h3>
		</div>
		<div class="panel-body">

			<h3>Cart Total: {{subtotal | currency}}</h3>
			<h3>Promotional Item Savings: {{cart.cartItemPromoSavings |
				currency}}</h3>
			<h3>Subtotal: {{cart.cartItemTotal | currency}}</h3>
			<h3>Shipping: {{cart.shippingTotal | currency}}</h3>
			<h3>Promotional Shipping Savings: {{cart.shippingPromoSavings |
				currency}}</h3>
			<h2>
				Total Order Amount: <strong>{{cart.cartTotal | currency}}</strong>
			</h2>
		</div>
		<div class="panel-footer">
			<button ng-disabled="cart.shoppingCartItemList.length <= 0"
				class="btn btn-primary btn-lg" data-toggle="modal"
				data-target="#checkoutModal" type="button">Checkout</button>

			<a ng-href="#/" class="btn btn-default btn-lg">Keep Shopping</a>
		</div>
	</div>
</div>


<div class="modal fade" id="checkoutModal" tabindex="-1" role="dialog"
	aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"
					aria-hidden="true">
					<span class="pficon pficon-close"></span>
				</button>
				<h4 class="modal-title" id="myModalLabel">Final Order Summary</h4>
			</div>
			<div class="modal-body">
				<h1>Thank you for shopping at the Coolstuff Store!</h1>
				<p>
					Your order total of <strong>{{cart.cartTotal | currency}}</strong>
					will be processed once we have all your details. Remember to press checkout when done.
				</p>
					<input type="hidden" name="check" value="false" ng-model="check">
					<div class="panel-body">
					<form novalidate name="paymentForm" class="form-horizontal">
						<div class="form-group">
							<label class="col-sm-3 control-label" for="textInput-modal-markup">Name</label>
							<div class="col-sm-9">
								<input type="text" id="textInput-modal-markup" name="nameOnCard" class="form-control" ng-model="ccinfo.nameOnCard" required placeholder="Your name as on Card" >
							</div>

							<label class="col-sm-3 control-label" for="textInput2-modal-markup">Card Info.</label>
							<div class="col-sm-9">
									<input type="text" id="textInput2-modal-markup" name="creditCard" class="form-control" ng-model="ccinfo.creditCard" required data-credit-card-type data-ng-pattern="/^[0-9]+$/" data-ng-minlength="15" maxlength="19" placeholder="Card Number" >{{ccinfo.type}}
							</div>

							<label class="col-sm-3 control-label" for="textInput3-modal-markup">Expires</label>
							<div class="col-sm-9">
								<input type="text" class="col-sm-2" name="securityCode" class="clearfix" ng-model="ccinfo.securityCode" placeholder="CVC" required data-ng-pattern="/^[0-9]+$/" data-ng-minlength="3" maxlength="4">
								<input type="text" class="col-sm-2" id="textInput3-modal-markup" name="month" class="clearfix" ng-model="ccinfo.month" placeholder="MM" required data-ng-pattern="/^[0-9]+$/" data-ng-minlength="2" maxlength="2">
								<input type="text" class="col-sm-2" name="year" class="clearfix" ng-model="ccinfo.year" placeholder="YY" required data-ng-pattern="/^[0-9]+$/" data-ng-minlength="2" maxlength="2">
							</div>

							<label class="col-sm-3 control-label" for="textInput4-modal-markup">Shipping Address</label>
							<div class="col-sm-9">
								<input type="text" id="textInput4-modal-markup" name="shippingAddress" class="form-control" ng-model="ccinfo.shippingAddress" required placeholder="Shipping Address" >
							</div>
						</div>
					</form>
			</div>
			<div class="modal-footer">
				<!-- 	<ul ng-show="paymentForm.submitAttempt && !paymentForm.$valid">
						<div class="alert alert-danger" role="alert">
							<small ng-show="paymentForm.creditCard.$error.minlength">Credit card must be 15-19 digits. </small>
							<small ng-show="paymentForm.creditCard.$error.pattern">Credit card must consist of only numbers. </small>
							<small ng-show="paymentForm.creditCard.$error.invalid">Credit card must be a valid Amex, Visa, Discover, or Master Card. </small>
							<small ng-show="paymentForm.creditCard.$error.required">Credit card required. </small>
							<small ng-show="paymentForm.securityCode.$error.pattern">Security code must contain only numbers. </small>
							<small ng-show="paymentForm.securityCode.$error.minlength">Security code must be 3-4 digits. </small>
							<small ng-show="paymentForm.securityCode.$error.required">Security code required. </small>
							<small ng-show="paymentForm.month.$error.required">Expiration month required.  </small>
							<small ng-show="paymentForm.year.$error.required">Expiration year required. </small>
							<small ng-show="paymentForm.month.$error.invalid">Provided expiration date is invalid. </small>
						</div>
					</ul>
					-->
				<button type="button" class="btn btn-primary" ng-disabled="!paymentForm.$valid" ng-click="paymentForm.submitAttempt=true;checkout_withBilling(ccinfo)" data-dismiss="modal"
					class="btn btn-primary btn-lg">Checkout</button>
				<button type="button" class="btn btn-danger" data-dismiss="modal" class="btn btn-default btn-lg">Cancel</button>
			</div>
		</div>
	</div>
</div>
