<table class="table table-striped table-bordered table-hover" id="table1">
  <thead>
    <tr>
      <th>Order Id</th>
      <th>Name</th>
      <th>Order Total</th>
      <th>Credit Card Number</th>
      <th>Credit Card Expiration</th>
      <th>Billing Address</th>
      <th>Payment Status</th>
    </tr>
  </thead>
  <tr ng-repeat="order in orders">
    <td>{{ order.orderId }}</td>
    <td>{{ order.name }}</td>
    <td>{{ order.total | currency }}</td>
    <td>{{ order.ccNumber }}</td>
    <td>{{ order.ccExp }}</td>
    <td>{{ order.billingAddress }}</td>
    <td><span ng-style="order.status == 'COMPLETED' ? {'font-weight':'bold', 'color': 'green'} : (order.status == 'PROCESSING' ? {'font-weight':'bold', 'color': 'orange'} : {'font-weight':'bold', 'color': 'red'})">{{ order.status }}</span></td>
  </tr>
</table>